body {
    background-color: rgb(240, 240, 240);
}

/* Formatação cabeçalho */

header {
    background-color: #FBC000;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#titulo {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.darkgray {
    color: #4a4949
}

header a:link, header a:visited {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}

header a:hover {
    background-color: white;
    color: #FBC000;
}

/* Formatação conteudos */

#area-conteudo {
    width: 1050px;
    margin: 20px auto;
}

/* Formatação menus laterais */

#area-lateral {
    float: right;
}

.menu-lateral {
    background-color: white;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.titulo-menu-lateral {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(220, 220, 220);
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.post-menu-lateral01 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: medium;
    margin-top: 15px;
}

.link-categorias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

#area-lateral a:link, #area-lateral a:visited {
    color: #FBC000;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 2px;
}

#area-lateral a:hover {
    color: white;
    background-color: #FBC000;
    text-decoration: none;
    padding: 5px 2px;
}

/* Formatação área dos posts */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
    margin-top: 0;
    color: #FBC000;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-top: 3px;
}

.posts {
    width: 660px;
    text-align: justify;
    background-color: white;
    padding: 10px 20px;
    float: left;
}

.post {
    margin-bottom: 20px;
}

.imagens {
    width: 660px;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.posts a:link, .posts a:visited {
    color: #FBC000;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.posts a:hover {
    color: white;
    background-color: #FBC000;
    padding: 2px;
}

/* Formatação rodapé */

footer {
    clear: both;
    background-color: #4a4949;
    padding: 1px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}